<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogger</title>
    <link rel="stylesheet" href="/styles/blog.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism-tomorrow.min.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/images/blogger.png" type="image/x-icon">
    <script>
        // Immediately set theme based on localStorage
        (function () {
            const theme = localStorage.getItem('theme') || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
            document.documentElement.setAttribute('data-theme', theme);
        })();
    </script>

</head>

<body>
    <header>
        <div class="left">
            <h1>Blogger</h1>
        </div>
        <div class="right">
            <a href="/post" class="write">
                <img src="/images/icons8-write-48.png" alt="write" decoding="async" title="write a blog">
                <span>Write</span>
            </a>
            <div class="mode">
                <img src="/images/icons8-dark-mode-100.png" decoding="async" alt="mode">
            </div>
            <a href="/user" class="user">
                <img src="<%=avater%>" alt="user" title="user" decoding="async">
            </a>
        </div>
    </header>
    <main>
        <div class="content">
            <h1>
                <%=blog.heading%>
            </h1>
            <div class="owner">
                <a href="/login" class="user">
                    <img src="<%=blog.user.avater%>" alt="user" title="user" decoding="async">
                </a>
                <div class="info">
                    <div class="name">
                        <a href="/user/writer?query=<%=blog.user._id%>">
                            <%=blog.user.fullName%>
                        </a>
                    </div>
                    <div class="date">
                        <%=blog.formattedDate%>
                    </div>
                </div>
            </div>
            <div class="coverImage">
                <img src="<%=blog.blogImage%>" alt="Cover Image" decoding="async">
            </div>
            <div class="text" style="white-space: pre-line;">
                <%- blog.content %>
            </div>
            <div class="contentPopularity">
                <div class="likes">
                    <img src="<%=blog.likeImgHref%>" alt="likes" decoding="async">
                    <span>
                        <%=blog.likes%>
                    </span>
                </div>
                <div class="comment">
                    <img src="/images/icons8-comment-50.png" alt="comments" decoding="async">
                    <span>67</span>
                </div>
            </div>

            <div class="commentArea">

                <div class="currentUserComment">
                    <textarea name="mainComment" id="mainComment"></textarea>
                    <div class="send">
                        <img src="/images/icons8-send-100.png" decoding="async" alt="Send">
                    </div>
                </div>

                <h3>All comments</h3>

                <div class="allComments">

                    <!-- <div class="singleComment">

                        <div class="userDetails">
                            <div class="userImage">
                                <img src="/images/icons8-user-64.png" alt="User" decoding="async">
                            </div>
                        </div>

                        <div class="userComment">
                            <div class="userName">Ranit Jana</div>
                            <span>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam inventore illo
                                laborum at eveniet dicta aut, hic non temporibus quidem voluptate, libero pariatur esse
                                quaerat, fugiat nam aliquid minima optio.
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio molestiae vitae
                                expedita quod officiis vel debitis magnam sed. Quaerat, id praesentium. Asperiores
                                corporis illum quibusdam cupiditate aspernatur delectus doloremque eos?
                            </span>
                        </div>
                    </div> -->

                </div>
                <button class="more ">More comments</button>
            </div>


            <div class="end">
                <div class="ending"></div>
            </div>
        </div>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-javascript.min.js"></script>
    <script id="custom-script" URL="/blog/like?query=<%=blog._id%>" src="/js/blog.js"></script>
</body>

</html>